<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ATM
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-title>
    --- Thông tin tài khoản ---
  </ion-title>
</ion-toolbar>

<ion-content class="content1">
  <ion-button expand = "full" (click) = "viewAccount()" >Xem thông tin tài khoản</ion-button>
  <ion-button (click)="goCam()" expand="full" >
    Chụp Ảnh <ion-icon name="camera-outline" style="margin-left: 5px;"></ion-icon>
  </ion-button>
  <ion-button (click)="goMap()" expand="full" >
    Địa chỉ của bạn <ion-icon name="compass-outline" style="margin-left: 5px;"></ion-icon>
  </ion-button>
  
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-button (click)="gologin()" expand="full" style="color: tomato; height: 100%;">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>




